.feynman {
    width: 100%;
    background-color: #f2f2f2;
    height: 790px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
    padding-top: 100px;
  }